In [1]:
#import pandas 
#Pandas is a software library written for the Python programming language for data manipulation and analysis
import pandas as pd

In [10]:
#Create a datfram to use csv file
#Data frame is a datastructure constructed with rows and columns
#I use Windows Application and added csv file in the same path so diretly using the file name to fetch data
#The head() method returns a specified number of rows, string from the top.(usually 5 rows)(0-5)
df=pd.read_csv("nyc_weather.csv")
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [5]:
#Gave all the series of max temperature
df['Temperature'].max

<bound method Series.max of 0     38
1     36
2     40
3     25
4     20
5     33
6     39
7     39
8     44
9     50
10    33
11    35
12    26
13    30
14    43
15    47
16    36
17    25
18    22
19    32
20    31
21    26
22    26
23    28
24    34
25    43
26    41
27    37
28    36
29    34
30    46
Name: Temperature, dtype: int64>

In [6]:
#max function returns the maximum of Temperature
df['Temperature'].max()

50

In [7]:
#here we are checking the events which have Rain and we want the dates hence using EST column
df['EST'][df['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [8]:
#mean function gives us the mean of the column specified
df['WindSpeedMPH'].mean()

6.892857142857143

In [9]:
#since we have naN values we need no to consider them 
#hence remove them from this by using fillna
df.fillna(0,inplace=True)
df['WindSpeedMPH'].mean()

6.225806451612903